<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>List projects</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Assigned To</th>
            <th>Priority</th>
        </thead>
        {% for i in pr %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.startDate}}</td>
            <td>{{i.endDate}}</td>
            <td>{{i.assignedTo}}</td>
            <td>{{i.priority}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>