<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>hello world</h1>
    <h2>{{i.firstName}}</h2>
    <table>
        <thead>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
                {% for i in cr %}
                <tr>
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.email}}</td>
                </tr>
                {% endfor %}

        </thead>
    </table>

</body>
</html>